# Bài tập

### B-1
Tìm phần tử lớn nhất trong mảng hai chiều

In [ ]:
def max2d_array(arr):
    # TODO
    flat = arr[0][0]
    for i in range(0,len(arr)):
      for j in range(0,len(arr[i])):
        if flat < arr[i][j]:
          flat = arr[i][j]
    return flat

In [ ]:
arr = [
    [1, 2, 5],
    [3 , 5, 9],
    [2,7,10,],
    [9, 8, -3]
]
max2d_array(arr)

10

### B-2
Tạo ngẫu nhiên 5 sinh viên theo cấu trúc sau:

In [ ]:
class_a = {
    'sinhvien1': {
        "hovaten": "Nguyen Van A",
        "tuoi": 20,
        "diem": [7,8.5,9]
    },
    'sinhvien2': {
        "hovaten": "Nguyen Van B",
        "tuoi": 21,
        "diem": [7,8,9]
    },
    'sinhvien3': {
        "hovaten": "Nguyen Van C",
        "tuoi": 18,
        "diem": [9,7,10]
    },
    'sinhvien4': {
        "hovaten": "Nguyen Van D",
        "tuoi": 22,
        "diem": [8.5,6,9]
    },
    'sinhvien5': {
        "hovaten": "Nguyen Van E",
        "tuoi": 20,
        "diem": [10,9,10]
    }
}

Yêu cầu thêm 4 sinh viên khác theo cấu trúc trên. Và in ra `diem` của sinh vien thứ 3. (Giá trị tùy chọn)
Mục đích làm quen với kiểu dict và truy xuất giá trị.

In [ ]:
# TODO in diem sinh viên thứ 3
class_a['sinhvien3']['diem']

[9, 7, 10]

In [ ]:
# ví dụ tuoi của sinh vien thứ 2
class_a['sinhvien2']['tuoi']

21

#### B-3
Bạn được cung cấp một chuỗi và nhiệm vụ của bạn là hoán đổi các trường hợp. Nói cách khác, chuyển đổi tất cả các chữ cái thường thành chữ hoa và ngược lại.
Ví dụ:
```
Www.HackerRank.com → wWW.hACKERrANK.COM
Pythonist 2 → pYTHONIST 2
```

In [ ]:
def swap_case(s):
    # TODO
    result =''
    for item in s:
      if item.isupper():
        result += item.lower()
      elif item.islower():
        result += item.upper()
      elif item.isspace():
        result += item
      else:
        result += item
    return result

In [ ]:
swap_case("Www.HackerRank.com")

'wWW.hACKERrANK.COM'

In [ ]:
swap_case("Pythonist 2")

'pYTHONIST 2'

#### B-4
Cho một số đếm tổng số chữ số trong một số

In [ ]:
def count_digit(n):
    #TODO
    icount = str(n)
    return len(icount)

In [ ]:
count_digit(4243) # -> 4

4

#### B -5 
Hãy thay đổi mức lương của Brad thành 8500

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

def ChangeSalaryByName(arr, name, newSalary):  
  for emp in arr:
    for emp2 in arr[emp]: 
      if emp2 == 'name':
        if arr[emp][emp2]==name:
          arr[emp]['salary']=newSalary

ChangeSalaryByName(sampleDict,'Brad',8500)

sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

```
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}
```

# OOP

#### B-1
Điền vào các phương thức của lớp Line để chấp nhận tọa độ dưới dạng một cặp bộ giá trị và trả về độ dốc và khoảng cách của đường thẳng.

In [36]:
import math
class Line:
    
    def __init__(self,coor1,coor2):
        self.x1 = coor1[0]
        self.y1 = coor1[1]
        self.x2 = coor2[0]
        self.y2 = coor2[1]
    
    def distance(self):
        kc = math.sqrt(math.pow((self.x2-self.x1),2)+math.pow((self.y2-self.y1),2))
        return kc 
    
    def slope(self): # (y2-y1)/(x2-x1)
        result = round(math.tan((self.y2 - self.y1)/(self.x2 - self.x1)), 2)
        return abs(result)

In [37]:
# EXAMPLE OUTPUT

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [38]:
li.distance()

9.433981132056603

In [39]:
li.slope()

34.23

### B-2
Hình trụ

In [24]:
import math
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self): # thể tích
        result = math.pow(self.radius,2) * math.pi * self.height
        return result

In [25]:
# EXAMPLE OUTPUT

c = Cylinder(2,3)

In [26]:
c.volume()

56.548667764616276