# Ôn tập python

## Statements

#### 1. Sử dụng `for`, `.slpit()`, và `if` để để in ra tất cả các từ bắt đầu bằng 's'

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
# TODO: code
x = st.split(); #string.split("-", 1000);

for item in x:
  if(item[0] == "s"):
    print(item);

start
s
sentence

#### 2. Sử dụng `range()` để in tất cả các số lẻ từ 0 -> 100

In [ ]:
# TODO: code
for num in range(0, 101):
  if numt%2!=0:
    print(num);

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In tất cả số có các chữ số bằng nhau trong khoảng 1 -> 10000
Ví dụ: 2, 3, 11,...

In [ ]:
# TODO: code

#### 3. Sử dụng List Comprehension để tạo một mảng của tất cả các số chia hết cho 3 trong khoảng 10 -> 501

In [ ]:
# TODO: code
num = [x for x in range(10, 502) if x%3==0];
print(num);

[12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501]

#### 4. Duyệt chuỗi bên dưới và nếu độ dài của một từ là chẵn thì in "even!"

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
# TODO: code

x = st.split();
for item in x:
  if len(item)%2==0:
    print(item + " : even!")

only : even!
that : even!
with : even!
in : even!
this : even!
sentence : even!

#### 5. Viết chương trình in ra các số nguyên từ 1 đến 100. Nhưng đối với bội số của ba thì in "Fizz" thay vì số và đối với bội số của năm thì in "Buzz". Đối với các số là bội số của cả ba và năm, hãy in "FizzBuzz".

In [ ]:
# TODO: code
for num in range(1, 101):
  if num%3==0 and num%5==0:
    print("FizzBuzz");
  elif num%3==0:
    print("Fizz");
  elif num%5==0:
    print("Buzz");
  else:
    print(num);

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 6. Sử dụng List Comprehension để tạo danh sách các chữ cái đầu tiên của mỗi từ trong chuỗi bên dưới:

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [4]:
# TODO: code
st = 'Create a list of the first letters of every word in this string';
arr = [x[0] for x in st.split()];
print(arr);

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

## Functions

### Khởi động

#### 1.
**ANIMAL CRACKERS**: Viết một hàm nhận vào hai chữ và trả về `True` nếu cả hai chữ bắt đầu cùng ký tự.
```python
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False
```

In [14]:
def animal_crackers(str):
    arr = str.split();
    if len(arr)>2:
      pass
    else:
      if arr[0][0] == arr[1][0]:
        return True;
      else: 
        return False;
    # TODO: code
check = animal_crackers('Levelheaded Llama');
print(check);
check = animal_crackers('Crazy Kangaroo');
print(check);

True
False

In [2]:
# Check
animal_crackers('Levelheaded Llama')

In [3]:
# Check
animal_crackers('Crazy Kangaroo')

#### 2.
**MAKES TWENTY**: Cho hai số nguyên, trả về `True` nếu tổng của hai số là 20 *hoặc* nếu một trong hai số là 20. Ngược lại trả về `False`. 
```python
    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False
```

In [24]:
def makes_twenty(x,y):
  pass
  # TODO: code
  if x==20 or y==20 or (x+y==20):
    return True;
  else: 
    return False;
  

check = makes_twenty(20,10);
print(check);
check = makes_twenty(2,3);
print(check);

True
False

In [25]:
# Check
makes_twenty(20,10)

True

In [26]:
# Check
makes_twenty(2,3)

False

### Bài tập

#### 1.
**MASTER YODA**: Đưa một câu, trả về một câu với các từ đảo ngược
```python
    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
```

**Lưu ý:** Phương thức `.join ()` có thể hữu ích. Phương thức `.join ()` cho phép bạn nối các chuỗi lại với nhau trong một danh sách với một số chuỗi kết nối. Ví dụ, một số cách sử dụng phương thức `.join ()`:
```
>>> "--".join(['a','b','c'])
>>> 'a--b--c'
```
Có nghĩa là nếu bạn có một danh sách các từ bạn muốn chuyển lại thành một câu, bạn chỉ có thể nối chúng bằng một chuỗi dấu cách:
```
>>> " ".join(['Hello','world'])
>>> "Hello world"
```

In [51]:
def master_yoda(str):
    pass
    # TODO: code
    result = "";
    arr = str.split();
    temp = [];
    i = len(arr);
    while True:
      i-=1;
      temp.append(arr[i]);
      if(i <= 0):
        break;
    result = " ".join(temp);
    return result;

In [52]:
# Check
master_yoda('I am home')

'home am I'

In [53]:
# Check
master_yoda('We are ready')

'ready are We'

#### 2.
**BLACKJACK**: Cho ba số nguyên từ 1 đến 11, nếu tổng của chúng nhỏ hơn hoặc bằng 21, hãy trả về tổng của chúng. Nếu tổng của chúng vượt quá 21 *và* có số mười một, hãy giảm tổng số đi 10. Cuối cùng, nếu tổng (ngay cả sau khi điều chỉnh) vượt quá 21, hãy trả về 'BUST'
```
     blackjack(5,6,7) -> 18
     blackjack(9,9,9) -> 'BUST'
     blackjack(9,9,11) -> 19
```

In [62]:
def blackjack(a,b,c):
    pass
    # TODO: code
    result = a + b + c;
    if result<3:
      return -1;
    elif result<=21:
      return result;
    elif result>21 and (a==11 or b==11 or c==11):
      result-=10;
      if result>21:
        return "BUST";
    elif result>21: 
      return "BUST";
    return result;

In [65]:
# Check
blackjack(5,6,7)

18

In [64]:
# Check
blackjack(9,9,9)

'BUST'

In [63]:
# Check
blackjack(9,9,11)

19

#### 3.
**COUNT PRIMES**: Viết hàm in ra và trả về  *số lượng* số nguyên tố tồn tại không vượt quá `num`.
```
     count_primes (100) -> 25
```
Quy ước, 0 và 1 không phải là số nguyên tố.

In [110]:
def count_primes(num):
    pass
    # TODO: code
    iCount=0;
    if num<=1:
      return 0;
    else:
      for item in range(2, num+1):
        if item==2:
           iCount+=1;
        else:
          iCount+=1;
          for item2 in range(2, item):
            if item%item2==0:
              iCount-=1;
              break;
            else:
              continue;
          

    return iCount;

In [111]:
# Check
count_primes(100)

25